<div class="install-command">
  <input type="text" value="ember install {{package}}" autofocus="autofocus" class="install-command-input">
  <p>Press &#8984; + C or Ctrl + C to copy install command.</p>
</div>
