<thead>
  {{partial "-table-header"}}
</thead>

<tbody>
  {{#each currentPageContent key="id" as |pkg|}}
    {{em-pkg pkg=pkg}}
  {{else}}
    <td colspan="6">
      <p class="not-found">Nothing found for "{{query}}"</p>
    </td>
  {{/each}}
</tbody>
