<a class="btn pagination-link {{if hasPreviousPage 'enabled' 'disabled'}}" {{action 'previousPage'}} title="Press ◀️ on your keyboard">Previous</a>
<a class="btn pagination-link {{if hasNextPage 'enabled' 'disabled'}}" {{action 'nextPage'}} title="Press ▶️ on your keyboard">Next</a>
