* {
  box-sizing: border-box;
}

input::-moz-placeholder {
  color: green;
}

body {
  font-size: 16px;
}

header {
  background-color: #ea3723;
  padding: 50px 0 0 0;
}

.search-wrapper {
  background-color: #ea3723;
  padding: 20px 0 30px 0;
}

.container-loading,
.container-footer {
  text-align: center;
  padding: 50px 0;
}

.loading {
  color:#7f7f7f;
}

.container-footer {
  font-size: 13px;
  color: #7f7f7f;
  border-top: 1px solid #d5d5d5;
}

.branding {
  color: white;
  font-weight: 100;
  margin:0;
  font-size: 50px;
}

.header-subtitle {
  color: #6b1210;
}

.top-menu-link,
.top-menu-link:hover {
  color: #6b1210;
  font-size: 18px;
}

.search-field {
  border-radius: 0;
  border: 0;
  font-size: 20px;
  height: 60px;
}

.search-field[disabled=disabled] {
  background-color: rgba(255, 255, 255, 0.6);
}

.table th {
  font-size: 12px;
}

.cell-name,
.cell-gravatar,
.cell-downloads,
.cell-updated {
  vertical-align: middle !important;
  color: #7f7f7f;
}

.cell-name {
  padding: 8px 8px 15px 8px !important;
}

.cell-gravatar {
  width: 200px;
}

.cell-downloads,
.cell-updated {
  width: 120px;
}

.table-packages {
  margin-top: 20px;
}

.gravatar {
  border-radius: 50%;
}

.package-link {
  font-size: 24px;
  color: #ea3723;
}

.list-package-details {
  font-size: 11px;
}

.list-package-details > li {
  background-color: #e6e6e6;
}

.not-found {
  text-align: center;
  font-size: 20px;
  padding: 50px 0;
  color: #7f7f7f;
  font-weight: bold;
}
