<div class="container">
  <div class="row">
    <div class="col-sm-12 container-footer">
      Made by
      <a href="http://twitter.com/gcollazo">@gcollazo</a>
      from
      <a href="http://blimp.io">Blimp</a>.<br>
      Contributions by the
      <a href="https://github.com/gcollazo/ember-cli-addon-search/graphs/contributors">Ember.js community</a>.
    </div>
  </div>
</div>
