<tr class="package">
  <td class="cell-name">
    <div class="placeholder__pakcage-name"></div>
    <div class="placeholder__description-line"></div>
    <div class="placeholder__description-line placeholder__description-line--second"></div>
    <div class="placeholder__demo-button"></div>
  </td>

  <td class="cell-clipboard hidden-xs"></td>
  <td class="cell-github hidden-xs"></td>

  <td class="cell-gravatar hidden-xs">
    <div class="gravatar placeholder__gravatar"></div>
    <div class="placeholder__username"></div>
  </td>

  <td class="cell-downloads hidden-xs">
    <div class="score score--s placeholder__score"></div>
  </td>

  <td class="cell-updated hidden-xs">
    <div class="placeholder__updated"></div>
  </td>
</tr>
